# Source files (since you're providing bundled code in dist/)
src/
data/

# Test files
tests/

# Configuration and build files
webpack.config.js

# Other files/directories
.DS_Store
npm-debug.log
README.md
LICENSE

node_modules/
.git/
.github/
dist/
scripts/
.babelrc
jest.config.cjs
package.json
webpack.config.cjs
