# Source files (since you're providing bundled code in dist/)
src/
# .npmignore
data/airports.json


# Test files
tests/

# Configuration and build files
webpack.config.js

# Other files/directories
.DS_Store
npm-debug.log
README.md
LICENSE
